<% provide(:title, 'All Employee_at_work') %>

<h1>出勤中社員一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-bases">
    <thead>
      <tr>
        <th class="center">社員番号</th>
        <th class="center">名前</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% user.attendances.each do |attendance| %>
          <% if (Date.current == attendance.worked_on) && attendance.started_at.present? && attendance.finished_at == nil %>
            <tr>
              <td class="center"><%= user.employee_number %></td>
              <td class="center"><%= user.name %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody> 
  </table>
</div>