<% provide(:title, 'All Users') %>

<h1>ユーザー一覧</h1>

<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
    <!--accordion-containerの中にtitleとontentを配置-->
    <!--cardとcard-bodyはBootstrapのものなので使わない方は無視してください-->
    <div class="card accordion-container">
      <div class="card-body accordion-title js-accordion-title">
        これを押すと
      </div>
      <div class="card-body accordion-content">
        開きます
      </div>
    </div>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>