/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー情報下ボタン */

.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}


/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

/* ユーザー一覧ページ */

#table-users {
  td {
    vertical-align: middle;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

// アコーディオンメニューデザイン
// .accordion-container .accordion-title {
  // clear: both;
  // float: left;
  // width: 50%;
  // margin-top: 20px;
  // -moz-box-sizing:    border-box;
  // -webkit-box-sizing: border-box;
  // box-sizing:         border-box;

  // color: #fff;
  // cursor: pointer
// }

// カーソルが乗ったときのデザイン
// .accordion-container .accordion-title:hover,
// .accordion-container .accordion-title:active,
// .accordion-container .content-entry.open .accordion-title {
//   background-color: #d3d3d3;
//   color: white;
//   box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
//   transform: translateY(-5px);
// }

// 最初は隠しておく
// .accordion-content {
//   display: none;
// }

// トグルの位置固定
// .accordion-title{
//   position: relative;
// }

// トグルのデザイン
// .accordion-title:after {
//   content: "";
//   position: absolute;
//   right: 25px;
//   top: 38%;
//   transition: all 0.2s ease-in-out;
//   display: block;
//   width: 8px;
//   height: 8px;
//   border-top: solid 2px #fff;
//   border-right: solid 2px #fff;
//   -webkit-transform: rotate(135deg);
//   transform: rotate(135deg);
// }
// .accordion-title.open:after {
//   -webkit-transform: rotate(-45deg);
//   transform: rotate(-45deg);
//   top: 45%;
// }